<nav class="navbar-header" fxLayout="row" fxLayoutAlign="center center">
    <div class="navbar-title" fxLayout="row" fxLayoutAlign="center center">
        <img class="navbar-logo" src="assets/IBM_logo.png">
        <span>Z Operations Analytics</span>
    </div>
    <div class="flex-spacer"></div>
    <div class="navbar-right-btn">
        <button mat-button>
            Log Off
            <i class="material-icons">arrow_forward</i>
        </button>
    </div>
</nav>
<app-loader></app-loader>