<nav class="navbar-header" fxLayout="row" fxLayoutAlign="center center">
    <div class="navbar-title" fxLayout="row" fxLayoutAlign="center center">
        <img class="navbar-logo" src="assets/IBM_logo.png">
        <span>Z Operations Analytics</span>
    </div>
    <div class="flex-spacer"></div>
    <div class="navbar-right-btn">

        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>language</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>                
                <span>English</span>
            </button>
            <button mat-menu-item>                
                <span>Spanish</span>
            </button>
            <button mat-menu-item>                
                <span>Chinese</span>
            </button>
        </mat-menu>
        <button mat-button>
            Log Off
            <i class="material-icons">arrow_forward</i>
        </button>
    </div>
</nav>
<app-loader></app-loader>