<mat-tab-group>
    <mat-tab label="Dashboard name">
        <div class="dashboard">
            <div fxLayout="column" fxLayoutGap="24px" class="p-10">
                <div fxLayout="row" fxLayoutGap="24px" fxLayoutAlign="end end">
                    <div fxFlex="50%">
                        <h3>tableBASE DB2 Candidates</h3>
                        <p>This report shows the top tableBASE candidates from a DB2 tables</p>
                    </div>
                    <div fxFlex="50%" fxLayout="row" fxLayoutAlign="start baseline">
                        <mat-form-field fxFlex="50%">
                            <input id="dtrange" matInput placeholder="Time range" name="dates">
                        </mat-form-field>
                        <div class="flex-spacer ml-5">
                            <button mat-raised-button (click)="fetchData()">Run</button>
                        </div>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                    <mat-card class="mat-elevation-z3" fxFlex="50%">
                        <h3>Database</h3>
                        <div fxLayout="row" fxLayoutGap="20px">
                            <mat-form-field fxFlex="30%">
                                <mat-select [(ngModel)]="selectedServers" placeholder="Server Name" multiple>
                                    <mat-option *ngFor="let sn of $servernames | async" [value]="sn">{{sn}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxFlex="30%">
                                <mat-select [(ngModel)]="selectedSsids" placeholder="SSID" multiple>
                                    <mat-option *ngFor="let ssid of $ssids | async" [value]="ssid">{{ssid}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxFlex="30%">
                                <mat-select [(ngModel)]="selectedSchemas" placeholder="Database" multiple>
                                    <mat-option *ngFor="let db of $schemas | async" [value]="db">{{db}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </mat-card>
                    <!-- End of Text Filtering Area -->

                    <!-- Additional filtering
                    - Ratio of reads/writes -->
                    <mat-card class="mat-elevation-z3" fxFlex="50%" fxLayout="column">
                        <h3>Additional filtering</h3>
                        <mat-checkbox color="warn" [(ngModel)]="showRwRatio">Ratio of reads/writes</mat-checkbox>
                        <mat-checkbox color="warn" [(ngModel)]="modTimeFrame">Modify time frame</mat-checkbox>
                    </mat-card>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                    <mat-card class="mat-elevation-z3" fxFlex="50%" fxLayout="column">
                        <div fxLayout="row">
                            <h3 fxFlex="30%">Graph</h3>
                        </div>
                        <div fxLayout="column">
                            <app-messager [show]="haveNoData()"></app-messager>
                            <canvas width="100%" #canvas0></canvas>
                        </div>
                    </mat-card>

                    <mat-card class="mat-elevation-z3" fxFlex="50%" fxLayout="column" #table0>
                        <div fxLayout="row" fxLayoutAlign="space-between baseline">
                            <h3>Top DB2 table Candidates</h3>
                            <button mat-button (click)="downloadCSV()">Download as CSV</button>
                        </div>
                        <app-messager [show]="haveNoData()"></app-messager>
                        <table mat-table [dataSource]="dataArray" *ngIf="!haveNoData()">
                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox color="warn" (change)="$event ? masterToggle() : null"
                                        [checked]="selectionHasValue() && isAllSelected()"
                                        [indeterminate]="selectionHasValue() && !isAllSelected()"
                                        [aria-label]="checkboxLabel()">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-checkbox color="warn" (click)="$event.stopPropagation()"
                                        (change)="$event ? chartToggle(row) : null" [checked]="isSelected(row)"
                                        [aria-label]="checkboxLabel()">
                                    </mat-checkbox>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="server">
                                <th mat-header-cell *matHeaderCellDef> System </th>
                                <td mat-cell *matCellDef="let obj"> {{ obj.server }} </td>
                            </ng-container>

                            <ng-container matColumnDef="ssid">
                                <th mat-header-cell *matHeaderCellDef> SSID </th>
                                <td mat-cell *matCellDef="let obj"> {{ obj.ssid }} </td>
                            </ng-container>

                            <ng-container matColumnDef="schema">
                                <th mat-header-cell *matHeaderCellDef> Schema </th>
                                <td mat-cell *matCellDef="let obj"> {{ obj.schema }} </td>
                            </ng-container>

                            <ng-container matColumnDef="tablename">
                                <th mat-header-cell *matHeaderCellDef> Table name </th>
                                <td mat-cell *matCellDef="let obj"> {{ obj.tablename }} </td>
                            </ng-container>

                            <ng-container matColumnDef="rps">
                                <th mat-header-cell *matHeaderCellDef> Av Reads / Sec </th>
                                <td mat-cell *matCellDef="let obj"> {{ obj.rps }} </td>
                            </ng-container>

                            <ng-container matColumnDef="wps">
                                <th mat-header-cell *matHeaderCellDef> Av Writes / Sec </th>
                                <td mat-cell *matCellDef="let obj"> {{ obj.wps }} </td>
                            </ng-container>

                            <ng-container matColumnDef="rwRatio">
                                <th mat-header-cell *matHeaderCellDef> Av Reads/Writes Ratio </th>
                                <td mat-cell *matCellDef="let obj"> {{ obj.rwRatio }} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                            <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
                        </table>
                    </mat-card>
                </div>
                <app-more-info></app-more-info>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>