/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.flex-spacer {
  flex-grow: 1;
}

.dashboard {
  padding: 0px 10px;
}

.navbar-header {
  padding: 8px 16px;
  background-color: #000;
}

.navbar-logo {
  height: 18px;
  margin-right: 10px;
}

.ml-5 {
  margin-left: 15px;
}

.mr-5 {
  margin-right: 15px; 
}

.p-10 {
  padding: 10px 0;  
}